<div class="container">
      <form name="logInForm" [formGroup]="user" (ngSubmit)="onSubmit(user, $event)">
          <div class="form-group">
              <input type="text" formControlName="logInUsername" placeholder="Enter username" class="form-control-sm" required>
              <label style="color: red; padding:3px"> *</label>
          </div>
          <div class="form-group">      
              <input type="text" formControlName="logInPassword" placeholder="Enter password" class="form-control-sm" required>
              <label style="color: red; padding:3px"> *</label>
          </div>  
          <div class="form-group">
              <button type="submit" class="btn btn-primary">Log In</button>
          </div>
      </form>
</div>    
