<div class="container">
    <div class="form-group" style="height: 200px !important; overflow: scroll;">
        <label>Notes:</label>
        <textarea [(ngModel)]="textValue" ref-textarea class="form-control rounded-0" id="userNotes" rows="4"></textarea>
    </div>
</div>  

<!-- <h1>Notes</h1>
<textarea ref-textarea [(ngModel)]="textValue" rows="4"></textarea><br/>
<button (click)="logText(textarea.value)">Update Log</button>
<button (click)="textValue=''">Clear</button>

<h2>Log <button (click)="log=''">Clear</button></h2>
<pre>{{log}}</pre>` -->