<div class="parent-wrapper"> 
    <div class="parent">
        <div class="child">
            <div class="filter-header">
                <div class="filter-buttons">
                    <div class="col-sm">
                        Select your filters:
                    </div>
                    <div class="col-sm">
                        <div class="filter-buttons_2">
                            <button type="submit" class="btn btn-success">Hide</button>
                        </div>    
                        <div class="filter-buttons_2">                               
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>    
                    </div>    
                </div>
            </div>    

            <form [formGroup]="user" (ngSubmit)="onSubmit(user, $event)">
            <!-- <form [formGroup]="form" (submit)="submit(form.value)"> -->
                <div class="form-group">
                    <p>
                        <label>Agency Name</label>
                    </p> 
                    <div *ngFor='let field of user?.controls?.fields?.controls | slice:0:5; let i=index'>
                        <!-- <input type="checkbox" [formControl]="field" [formControlName]="fields[i].name"/> {{fields[i].name}}<br> -->
                        <input type="checkbox" [formControl]="field"/> {{fields[i].name}}<br>
                    </div>    
                </div>

                <div class="form-group">
                    <p>
                        <label>Section Name</label>
                    </p>  
                    <div *ngFor='let field of user?.controls?.fields?.controls | slice:5:6; let i=index'>
                        <!-- <input type="checkbox" [formControl]="field" [formControlName]="fields[i+5].name"/> {{fields[i+5].name}}<br> -->
                        <input type="checkbox" [formControl]="field"/> {{fields[i+5].name}}<br>
                    </div> 
                </div>

                <div class="form-group"> 
                    <p>
                        <label>Category Description</label>
                    </p>
                    <div *ngFor="let field of user?.controls?.fields?.controls | slice:6:7; let i=index">
                        <!-- <input type="checkbox" [formControl]="field" formControlName="{{fields[i+7].name}}"/> {{fields[i+6].name}}<br> -->
                        <input type="checkbox" [formControl]="field"/> {{fields[i+6].name}}<br>
                    </div> 
                </div>
                
                <div class="form-group">
                    <p>
                        <label>Type of Notice Description</label>
                    </p>
                    <div *ngFor="let field of user?.controls?.fields?.controls | slice:7:10; let i=index">
                        <!-- <input type="checkbox" [formControl]="field" formControlName="{{fields[i+8].name}}"/> {{fields[i+7].name}}<br> -->
                        <input type="checkbox" [formControl]="field"/> {{fields[i+7].name}}<br>
                    </div>    
                </div>

                <div class="form-group">
                    <p>
                        <label>Selection Method Description</label>
                    </p>    
                    <div *ngFor="let field of user?.controls?.fields?.controls | slice:10; let i=index">
                            <!-- <input type="checkbox" [formControl]="field" formControlName="{{fields[i+9].name}}"/> {{fields[i+10].name}}<br> -->
                            <input type="checkbox" [formControl]="field"/> {{fields[i+10].name}}<br>
                        </div>    
                </div>

                <div class="button_submit">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>  
            </form>
        </div>


        <div class="child">
            <div>
                <h4>Data from Agency Name Selections:</h4>
                <ul *ngIf="queryStreamAgency">
                    <li *ngFor="let item of queryStreamAgency">
                        {{item.agency_name}} 
                    </li>               
                </ul>
            </div>
  
            <div>
                <h4>Data from Section Name Selections:</h4>
                <ul *ngIf="queryStreamAgency">
                    <li *ngFor="let item of queryStreamSection">
                        {{item.section_name}} 
                    </li>
                </ul>
            </div>

            <div>
                <h4>Data from Category Description Selections:</h4>
                <ul *ngIf="queryStreamCategory">             
                    <li *ngFor="let item of queryStreamCategory">
                        {{item.category_description}} 
                    </li>
                </ul>    
            </div>            

            <div>
                <h4>Data from Type of Notice Description Selections:</h4>
                <ul *ngIf="queryStreamTypeDesc">
                    <li *ngFor="let item of queryStreamTypeDesc">
                        {{item.type_of_notice_description}} 
                    </li>   
                </ul>    
            </div>

            <div>
                <h4>Data from Selection Method Description Selections:</h4>
                <ul *ngIf="queryStreamSelMeth">
                    <li *ngFor="let item of queryStreamSelMeth">
                        {{item.selection_method_description}} 
                    </li>   
                </ul>    
            </div>
        </div>


        <div class="child">

        </div>
             
    </div>
</div>
 
