<section class="container">
  <form [formGroup]="newUser" (ngSubmit)="onSubmit(newUser)" (submit)="preventDefault($event)">
    <div class="form-group">
      <p>
        <input type="email" formControlName="signUpEmail" placeholder="Email">
      </p>
      <p>
        <input type="text" formControlName="signUpPassword" placeholder="Password">
      </p>
      <p>
          <input type="text" formControlName="signUpConfirmedPassword" placeholder="Password">
      </p> 
      <div class="checkbox">
          <label style="font-size: 11px !important;"><input type="checkbox" name="acceptTerms" required> Accept Terms & Conditions</label>
      </div>
    </div>
      <button type="submit" [routerLink]="['search']" [disabled]="!newUser.valid">Submit</button>
  </form>
</section>